.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: beige;
 }
 
 .login_logo{
     margin: 20px 0px;
     object-fit: contain;
     width: 100px;
     margin-right: auto;
     margin-left: auto;
 }
 .login_container {
     width: 300px;
     height: fit-content;
     display: flex;
     flex-direction: column;
     border-radius: 10px;
     border: 1px solid lightgray;
     background-color: #2a3457;
     border-color: #16235b;
     padding: 20px;
 }
 
 .login_container > h1 {
     font-weight: 500;
     text-align: center;
     margin-bottom: 20px;
   }
 
 .login_container > form > h5 {
     margin-bottom: 5px;
 }
 
 .login_container > form > input {
     height: 30px;
     margin-bottom: 10px;
     background-color: white;
     border-radius: 10px;
     width: 98%;
   }
 
 .login_container > p {
     margin-top: 15px;
     font-size: 12px;
     
 }
 
 .login_signinbutton {
     background: #888c46;
     border-radius: 10px;
     width: 100%;
     height: 30px;
     border: 1px solid;
     margin-top: 10px;
     border-color: #888c49;
   }
 
   .login_registrationbutton {
     border-radius: 10px;
     width: 100%;
     height: 30px;
     border: 1px solid;
     margin-top: 10px;
     border-color: darkgray;
   }