.header {
  height: 70px;
  display: flex;
  background-color: #16235a;
  align-items: center;
  position: sticky;
  color: white;
  z-index: 100;
  top: 0;
}
.header_logo {
  width: 170px;
  object-fit: contain;
  margin: 0 20px;
}
.header_searchlogo {
  width: 25px;
  height: 30px;
  margin: 15px 10px;
  background-color: #888c46;
  padding: 2px 5px;
  border-radius: 8px;
}
.header_search {
    display: flex;
    flex:1;
    align-items: center;
}
.header_searchInput{
    width: 100%;
    border: none;
    padding: 10px;
    height: 12px;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
    column-gap: 10px;
    
}
.header_optionLineOne{
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: 400;  
}
.header_optionLineTwo{
    font-weight: 700;
    font-size: 20px;
}

.header_basket{
    width:40px;
    height: 40px;
   
}

.header_basket span{
    padding-right: 3px; 
}

.header_basket .header_optionLineOne{
    position: relative;
    bottom: 25px;
    right: 66px;
    color: white;
    font-weight: 700; 
    font-size: 20px;
}



